#ifndef NL_CONFIG_H

/* Maximum size of packets transmitted and received by this
 * bootloader.
 */
#define NL_PACKETSIZE SPM_PAGESIZE+5

/* the position in the eeprom where the device's network address is stored at */
#define NL_ADDRESSPOS 0

/* define how many bytes to use for the address field. this will also add approx. 50 bytes
 * to the binary (!)
 **/
#define NL_ADDRESSSIZE 1

/* if the counter value masked by the NL_RETRANSMIT_MASK equals 0, the last command is repeated.
 * this value should be significantly lower than NL_MAXCOUNT. (i.e. 1/16th)
 */
#define NL_RETRANSMIT_MASK 0x3fff

/* the maximum counter value before the nakkaloader starts booting the application.
 */
#define NL_MAXCOUNT 0x3ffff

/* set verbosity for bootloader (0 to 2)
 *
 * setting this to values greater than 0 will add a few bytes to the binary.
 *
 * Verbosity Levels:
 *
 * 0 - STFU-Level - don't even complain on errors.
 * 1 - Complain on errors
 * 2 - Send additional debug information
 *
 * */
#define NL_VERBOSITY 0

/* since the nakkaloader needs some time to actually boot the application (due to timeout counters),
 * it may be desireable to define an additional condition. if the function "nl_bootloader_condition()"
 * is defined and this function returns 0, the nakkaloader will boot right into the application without
 * further delay.
 */

/* example: if PB0 is pulled to gnd (i.e. with a button) , the bootloader is started. */
// inline uint8_t nl_bootloader_condition () { DDRB |= _BV(PB0); PORTB |= _BV(PB0); return ~(PINB & _BV(PB0)); }

#endif
