# This is not really a .desktop file like the rest, but it's useful to treat
# it as such

[GdmGreeterTheme]
Encoding=UTF-8
Greeter=labor.xml
Name=Das Labor 
Description=See http://www.das-labor.org/
Author=Joerg Bornschein <joerg@zilium.de>
Copyright=creative commons
Screenshot=screenshot.jpg
