BEGIN:VEVENT
DTSTART;VALUE=DATE:20100101
DTEND;VALUE=DATE:20100101
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100114
DTEND;VALUE=DATE:20100114
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100128
DTEND;VALUE=DATE:20100128
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100211
DTEND;VALUE=DATE:20100211
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100225
DTEND;VALUE=DATE:20100225
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100311
DTEND;VALUE=DATE:20100311
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100325
DTEND;VALUE=DATE:20100325
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100409
DTEND;VALUE=DATE:20100409
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100422
DTEND;VALUE=DATE:20100422
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100506
DTEND;VALUE=DATE:20100506
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100520
DTEND;VALUE=DATE:20100520
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100604
DTEND;VALUE=DATE:20100604
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100617
DTEND;VALUE=DATE:20100617
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100701
DTEND;VALUE=DATE:20100701
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100715
DTEND;VALUE=DATE:20100715
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100729
DTEND;VALUE=DATE:20100729
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100812
DTEND;VALUE=DATE:20100812
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100826
DTEND;VALUE=DATE:20100826
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100909
DTEND;VALUE=DATE:20100909
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20100923
DTEND;VALUE=DATE:20100923
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20101007
DTEND;VALUE=DATE:20101007
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20101021
DTEND;VALUE=DATE:20101021
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20101105
DTEND;VALUE=DATE:20101105
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20101118
DTEND;VALUE=DATE:20101118
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20101202
DTEND;VALUE=DATE:20101202
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20101216
DTEND;VALUE=DATE:20101216
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20101230
DTEND;VALUE=DATE:20101230
SUMMARY:REMONDIS DSD, Abholung am Folgetag: gelbe Tonnen (grosse und kleine
 ) zur Strasse!
END:VEVENT
