body{
	font-family:Verdana,Arial,sans-serif;
	font-size: 10pt;
	background-color: #222;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: normal;
    color: #666;
    text-align: center;
}

h1 {
    font-family:Verdana,Arial,sans-serif;
    font-size: 14pt;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 10px;
}

h3 {
    font-family:Verdana,Arial,sans-serif;
    font-size: 12pt;
    font-weight: bold;
	color: #bbb;
    padding-top: 10px;
    padding-bottom: 10px;
} 

ul {
    margin-left: 0px;
    padding: 0 0 0 0px;
    list-style: none;
	fixed-width: 190px
} 

li:hover { color: #aaa; background-color: #777; text-decoration: none; fixed-width: 170px; }
ul li:before { content: ""; }

a:link    { color: #bbb; text-decoration: none; }
a:visited { color: #bbb; text-decoration: none;}
a:active  { color: #bbb; text-decoration: none; }
a:hover   { color: #bbb; text-decoration: none; }

#container {
	border-top: 2px solid #959596;
	border-left: 1px solid #959596;
	border-right: 1px solid #959596;
	padding: 10px 25px 10px 25px;
	min-width: 800px;
	min-height: 400px;
	margin: 60px 90px 90px 90px;
	text-align: left;
}

#glist {
    border-left: 1px solid #959596;
    border-right: 1px solid #959596;
    border-bottom: 2px solid #aaa;
    padding-left: 2px;
    float: left;
    margin-left: 10px;
    width: 190px;
    background-color: #222;
    text-align: left;
}
#description{
    font-size: 10pt;
    font-weight: normal;
    color: #fff;
    margin-top: 5px;
    margin-left: 300px;
}
