
module local 1.0;

require {
	type unconfined_t;
	type mount_t;
	type devpts_t;
	type syslogd_t;
	type consolekit_t;
	type initrc_t;
	type system_dbusd_t;
	type var_lock_t;
	type setfiles_t;
	type rpm_script_t;
	type initrc_exec_t;
	type consoletype_exec_t;
	type init_t;
	type lib_t;
	type kernel_t;
	type fs_t;
	type udev_t;
	type hald_t;
	type rpm_t;
	type etc_t;
	type var_run_t;
	class process { execstack execmem };
	class unix_stream_socket connectto;
	class chr_file write;
	class capability { sys_nice sys_ptrace };
	class file { execute setattr read execmod execute_no_trans getattr relabelto unlink create };
	class filesystem associate;
	class sock_file { write create unlink getattr setattr };
	class lnk_file read;
	class dir { write add_name setattr };
}

#============= initrc_t ==============
allow initrc_t lib_t:file execmod;

#============= mount_t ==============
allow mount_t consolekit_t:file { read getattr };
allow mount_t consolekit_t:lnk_file read;
allow mount_t consoletype_exec_t:file { execute execute_no_trans };
allow mount_t devpts_t:chr_file write;
allow mount_t etc_t:file { execute execute_no_trans setattr };
allow mount_t fs_t:filesystem associate;
allow mount_t hald_t:file { read getattr };
allow mount_t hald_t:lnk_file read;
allow mount_t init_t:file { read getattr };
allow mount_t init_t:lnk_file read;
allow mount_t initrc_exec_t:file { execute execute_no_trans };
allow mount_t initrc_t:file { read getattr };
allow mount_t initrc_t:lnk_file read;
allow mount_t kernel_t:file { read getattr };
allow mount_t kernel_t:lnk_file read;
allow mount_t kernel_t:unix_stream_socket connectto;
allow mount_t lib_t:file execmod;
allow mount_t self:capability { sys_nice sys_ptrace };
allow mount_t self:file { execute execute_no_trans };
allow mount_t self:process { execstack execmem };
allow mount_t self:unix_stream_socket connectto;
allow mount_t syslogd_t:file { read getattr };
allow mount_t syslogd_t:lnk_file read;
allow mount_t system_dbusd_t:file { read getattr };
allow mount_t system_dbusd_t:lnk_file read;
allow mount_t udev_t:file { read getattr };
allow mount_t udev_t:lnk_file read;
allow mount_t var_lock_t:dir { write add_name };
allow mount_t var_lock_t:file create;
allow mount_t var_run_t:dir setattr;
allow mount_t var_run_t:sock_file { write create unlink getattr setattr };

#============= rpm_script_t ==============
allow rpm_script_t mount_t:file setattr;

#============= rpm_t ==============
allow rpm_t mount_t:file { relabelto unlink setattr };

#============= setfiles_t ==============
allow setfiles_t mount_t:file relabelto;

#============= unconfined_t ==============
allow unconfined_t lib_t:file execmod;
