#Netze Für Takt definition
NET "XLXI_203/CLK0_BUF"      TNM_NET = "clk60";
NET "XLXI_277/CLKFX_BUF"     TNM_NET = "clk200";

NET "slow_clk" TNM_NET = "clk20";
NET "in0a" TNM_NET = "clk20";
NET "in0b" TNM_NET = "clk20";
NET "in1a" TNM_NET = "clk20";
NET "in1b" TNM_NET = "clk20";
NET "in2a" TNM_NET = "clk20";
NET "in2b" TNM_NET = "clk20";
NET "in3a" TNM_NET = "clk20";
NET "in3b" TNM_NET = "clk20";
NET "in4a" TNM_NET = "clk20";
NET "in4b" TNM_NET = "clk20";



#Takte den Netzen zuweisen
TIMESPEC "TS_clk60"  = PERIOD "clk60"  60  MHz LOW 50 %;
TIMESPEC "TS_clk200" = PERIOD "clk200" 200 MHz LOW 50 %;
TIMESPEC "TS_clk20"  = PERIOD "clk20"  40  MHz LOW 50 %;



# Master Clock (60 Mhz)
NET "clk" LOC = "D9";



NET "in0a"  LOC = "F5" | IOSTANDARD = LVDS_25 ; # Pin 29
NET "in0b"  LOC = "G5" | IOSTANDARD = LVDS_25 ; # Pin 31
NET "in1a"  LOC = "F3" | IOSTANDARD = LVDS_25 ; # Pin 26
NET "in1b"  LOC = "F2" | IOSTANDARD = LVDS_25 ; # Pin 28
NET "in2a"  LOC = "D7" | IOSTANDARD = LVDS_25 ; # Pin 15   
NET "in2b"  LOC = "E7" | IOSTANDARD = LVDS_25 ; # Pin 17   
NET "in3a"  LOC = "D2" | IOSTANDARD = LVDS_25 ; # Pin 14   
NET "in3b"  LOC = "D1" | IOSTANDARD = LVDS_25 ; # Pin 16   
NET "in4a"  LOC = "E4" | IOSTANDARD = LVDS_25 ; # Pin 25
NET "in4b"  LOC = "F4" | IOSTANDARD = LVDS_25 ; # Pin 27

NET "out1" LOC = "E6"| DRIVE = 24  | SLEW = fast;
#NET "taste" LOC = "D8";

NET "tp1" LOC = "p5"| DRIVE = 12  | SLEW = fast; # Pin 17 
NET "tp2" LOC = "p6"| DRIVE = 12  | SLEW = fast; # Pin 23
NET "tp3" LOC = "r6"| DRIVE = 12  | SLEW = fast; # Pin 25

NET "led" LOC = "N6";

