#Netze Für Takt definition
NET "xlxi_31/xlxi_6/clk0*"   TNM_NET = "clk";
NET "xlxi_31/xlxi_17/clkfx*" TNM_NET = "clk20";
NET "xlxi_31/xlxi_6/clk2x*"  TNM_NET = "clk100";


#Takte den Netzen zuweisen
TIMESPEC "TS_clk"    = PERIOD "clk"     50 Mhz LOW 50 %;
TIMESPEC "TS_clk20"  = PERIOD "clk20"   20 Mhz LOW 50 %;
TIMESPEC "TS_clk100" = PERIOD "clk100" 100 Mhz LOW 50 %;

# Master Clock (50 Mhz)
NET "clk" LOC = "T9";

# Display Ports
#NET "display<0>" LOC = "E14"  | IOSTANDARD = LVCMOS25;
#NET "display<1>" LOC = "G13"  | IOSTANDARD = LVCMOS25;
#NET "display<2>" LOC = "N15"  | IOSTANDARD = LVCMOS25;
#NET "display<3>" LOC = "P15"  | IOSTANDARD = LVCMOS25;
#NET "display<4>" LOC = "R16"  | IOSTANDARD = LVCMOS25;
#NET "display<5>" LOC = "F13"  | IOSTANDARD = LVCMOS25;
#NET "display<6>" LOC = "N16"  | IOSTANDARD = LVCMOS25;
#NET "display<7>" LOC = "P16"  | IOSTANDARD = LVCMOS25;
#NET "display<8>" LOC = "E13"  | IOSTANDARD = LVCMOS25;
#NET "display<9>" LOC = "F14"  | IOSTANDARD = LVCMOS25;
#NET "display<10>" LOC = "G14" | IOSTANDARD = LVCMOS25;
#NET "display<11>" LOC = "D14" | IOSTANDARD = LVCMOS25;

# Schalter
#NET "schaltin<0>" LOC = "F12" | IOSTANDARD = LVCMOS25;
#NET "schaltin<1>" LOC = "G12" | IOSTANDARD = LVCMOS25;
#NET "schaltin<2>" LOC = "H14" | IOSTANDARD = LVCMOS25;
#NET "schaltin<3>" LOC = "H13" | IOSTANDARD = LVCMOS25;
#NET "schaltin<4>" LOC = "J14" | IOSTANDARD = LVCMOS25;
#NET "schaltin<5>" LOC = "J13" | IOSTANDARD = LVCMOS25;
#NET "schaltin<6>" LOC = "K14" | IOSTANDARD = LVCMOS25;
#NET "schaltin<7>" LOC = "K13" | IOSTANDARD = LVCMOS25;
#NET "tast<0>" LOC = "M13" | IOSTANDARD = LVCMOS25;
#NET "tast<1>" LOC = "M14" | IOSTANDARD = LVCMOS25;
#NET "tast<2>" LOC = "L13" | IOSTANDARD = LVCMOS25;
#NET "tast<3>" LOC = "L14" | IOSTANDARD = LVCMOS25;

# LED's
#NET "led<0>" LOC = "K12" | IOSTANDARD = LVCMOS25;
#NET "led<1>" LOC = "P14" | IOSTANDARD = LVCMOS25;
#NET "led<2>" LOC = "L12" | IOSTANDARD = LVCMOS25;
#NET "led<3>" LOC = "N14" | IOSTANDARD = LVCMOS25;
#NET "led<4>" LOC = "P13" | IOSTANDARD = LVCMOS25;
#NET "led<5>" LOC = "N12" | IOSTANDARD = LVCMOS25;
#NET "led<6>" LOC = "P12" | IOSTANDARD = LVCMOS25;
#NET "led<7>" LOC = "P11" | IOSTANDARD = LVCMOS25;

#Speicher

NET "SRAM_OE"  LOC = "k4" | IOSTANDARD = LVCMOS25;
NET "SRAM_WE"  LOC = "g3" | IOSTANDARD = LVCMOS25;

NET "SRAM_ADR<0>"  LOC = "L5" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<1>"  LOC = "N3" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<2>"  LOC = "M4" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<3>"  LOC = "M3" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<4>"  LOC = "L4" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<5>"  LOC = "G4" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<6>"  LOC = "F3" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<7>"  LOC = "F4" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<8>"  LOC = "E3" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<9>"  LOC = "E4" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<10>" LOC = "G5" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<11>" LOC = "H3" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<12>" LOC = "H4" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<13>" LOC = "J4" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<14>" LOC = "J3" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<15>" LOC = "K3" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<16>" LOC = "K5" | IOSTANDARD = LVCMOS25;
NET "SRAM_ADR<17>" LOC = "L3" | IOSTANDARD = LVCMOS25;
#
NET "SRAM_1_IO<0>"  LOC = "n7" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_IO<1>"  LOC = "t8" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_IO<2>"  LOC = "r6" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_IO<3>"  LOC = "t5" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_IO<4>"  LOC = "r5" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_IO<5>"  LOC = "c2" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_IO<6>"  LOC = "c1" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_IO<7>"  LOC = "b1" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_IO<8>"  LOC = "d3" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_IO<9>"  LOC = "p8" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_IO<10>" LOC = "f2" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_IO<11>" LOC = "h1" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_IO<12>" LOC = "j2" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_IO<13>" LOC = "l2" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_IO<14>" LOC = "p1" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_IO<15>" LOC = "r1" | IOSTANDARD = LVCMOS25;

NET "SRAM_1_ce" LOC = "p7" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_ub" LOC = "t4" | IOSTANDARD = LVCMOS25;
NET "SRAM_1_lb" LOC = "p6" | IOSTANDARD = LVCMOS25;

NET "SRAM_2_IO<0>"  LOC = "p2";
NET "SRAM_2_IO<1>"  LOC = "n2";
NET "SRAM_2_IO<2>"  LOC = "m2";
NET "SRAM_2_IO<3>"  LOC = "k1";
NET "SRAM_2_IO<4>"  LOC = "j1";
NET "SRAM_2_IO<5>"  LOC = "g2";
NET "SRAM_2_IO<6>"  LOC = "e1";
NET "SRAM_2_IO<7>"  LOC = "d1";
NET "SRAM_2_IO<8>"  LOC = "d2";
NET "SRAM_2_IO<9>"  LOC = "e2";
NET "SRAM_2_IO<10>" LOC = "g1";
NET "SRAM_2_IO<11>" LOC = "f5";
NET "SRAM_2_IO<12>" LOC = "c3";
NET "SRAM_2_IO<13>" LOC = "k2";
NET "SRAM_2_IO<14>" LOC = "m1";
NET "SRAM_2_IO<15>" LOC = "n1";

NET "SRAM_2_ce" LOC = "n5";
NET "SRAM_2_ub" LOC = "r4";
NET "SRAM_2_lb" LOC = "p5";

#NET "pr1"  LOC = "D5"  | DRIVE = 24  | SLEW = fast ; # Pin 5
#
#NET "out0"  LOC = "A4"   |DRIVE = 16 | SLEW = fast ; # Pin 15
#NET "gnd0"  LOC = "A5"   |DRIVE = 16 | SLEW = fast ; # Pin 17
#NET "out1"  LOC = "B5"   |DRIVE = 16 | SLEW = fast ; # Pin 19
#NET "gnd1"  LOC = "B6"   |DRIVE = 16 | SLEW = fast ; # Pin 21
#NET "out2"  LOC = "A7"   |DRIVE = 16 | SLEW = fast ; # Pin 23
#NET "gnd2"  LOC = "A8"   |DRIVE = 16 | SLEW = fast ; # Pin 25
#NET "out3"  LOC = "B10"  |DRIVE = 16 | SLEW = fast ; # Pin 27
#NET "gnd3"  LOC = "B11"  |DRIVE = 16 | SLEW = fast ; # Pin 29
#NET "out4"  LOC = "A12"  |DRIVE = 16 | SLEW = fast ; # Pin 31
#NET "gnd4"  LOC = "A13"  |DRIVE = 16 | SLEW = fast ; # Pin 33
#
#NET "se1a"  LOC = "D7" | IOSTANDARD = LVDS_25; # Pin 11
#NET "se1b"  LOC = "E7" | IOSTANDARD = LVDS_25; # Pin 09
#
#NET "trig" LOC = "t3" | IOSTANDARD = LVCMOS25;
#NET "test1" LOC = "n11";


#PACE: Start of PACE Area Constraints
#PACE: Start of PACE Prohibit Constraints
#PACE: End of Constraints generated by PACE
