#Netze Für Takt definition
NET "xlxi_31/xlxi_6/clk0*"   TNM_NET = "clk";
#NET "xlxi_31/xlxi_6/clkfx*"  TNM_NET = "clk200";
NET "xlxi_31/xlxi_17/clkfx*" TNM_NET = "clk20";

#Takte den Netzen zuweisen
TIMESPEC "TS_clk"    = PERIOD "clk"     50 Mhz LOW 50 %;
#TIMESPEC "TS_clk200" = PERIOD "clk200" 200 Mhz LOW 50 %;
TIMESPEC "TS_clk20"  = PERIOD "clk20"   20 Mhz LOW 50 %;

# Master Clock (50 Mhz)
NET "clk" LOC = "T9";

# Display Ports
NET "display<0>" LOC = "E14";
NET "display<1>" LOC = "G13";
NET "display<2>" LOC = "N15";
NET "display<3>" LOC = "P15";
NET "display<4>" LOC = "R16";
NET "display<5>" LOC = "F13";
NET "display<6>" LOC = "N16";
NET "display<7>" LOC = "P16";
NET "display<8>" LOC = "E13";
NET "display<9>" LOC = "F14";
NET "display<10>" LOC = "G14";
NET "display<11>" LOC = "D14";

# Schalter
NET "schaltin<0>" LOC = "F12";
NET "schaltin<1>" LOC = "G12";
NET "schaltin<2>" LOC = "H14";
NET "schaltin<3>" LOC = "H13";
NET "schaltin<4>" LOC = "J14";
NET "schaltin<5>" LOC = "J13";
NET "schaltin<6>" LOC = "K14";
NET "schaltin<7>" LOC = "K13";
NET "tast<0>" LOC = "M13";
NET "tast<1>" LOC = "M14";
NET "tast<2>" LOC = "L13";
NET "tast<3>" LOC = "L14";

# LED's
NET "led<0>" LOC = "K12";
NET "led<1>" LOC = "P14";
NET "led<2>" LOC = "L12";
NET "led<3>" LOC = "N14";
NET "led<4>" LOC = "P13";
NET "led<5>" LOC = "N12";
NET "led<6>" LOC = "P12";
NET "led<7>" LOC = "P11";

#NET "pr1"  LOC = "D5"  | DRIVE = 24  | SLEW = fast ; # Pin 5

NET "out0"  LOC = "D10"  | IOSTANDARD = LVCMOS33 |DRIVE = 16 | SLEW = fast ; # Pin 15
NET "gnd0"  LOC = "B4"   | IOSTANDARD = LVCMOS33 |DRIVE = 16 | SLEW = fast ; # Pin 17
NET "out1"  LOC = "B5"   | IOSTANDARD = LVCMOS33 |DRIVE = 16 | SLEW = fast ; # Pin 19
NET "gnd1"  LOC = "B6"   | IOSTANDARD = LVCMOS33 |DRIVE = 16 | SLEW = fast ; # Pin 21
NET "out2"  LOC = "A7"   | IOSTANDARD = LVCMOS33 |DRIVE = 16 | SLEW = fast ; # Pin 23
NET "gnd2"  LOC = "A8"   | IOSTANDARD = LVCMOS33 |DRIVE = 16 | SLEW = fast ; # Pin 25
NET "out3"  LOC = "B10"  | IOSTANDARD = LVCMOS33 |DRIVE = 16 | SLEW = fast ; # Pin 27
NET "gnd3"  LOC = "B11"  | IOSTANDARD = LVCMOS33 |DRIVE = 16 | SLEW = fast ; # Pin 29
NET "out4"  LOC = "A12"  | IOSTANDARD = LVCMOS33 |DRIVE = 16 | SLEW = fast ; # Pin 31
NET "gnd4"  LOC = "A13"  | IOSTANDARD = LVCMOS33 |DRIVE = 16 | SLEW = fast ; # Pin 33
#
#NET "se1a"  LOC = "D7" | IOSTANDARD = LVDS_25 ; # Pin 11
#NET "se1b"  LOC = "E7" | IOSTANDARD = LVDS_25 ; # Pin 09
#
NET "trig" LOC = "t3";
#NET "test1" LOC = "n11";


#PACE: Start of PACE Area Constraints
#PACE: Start of PACE Prohibit Constraints
#PACE: End of Constraints generated by PACE
