body {
    font-size: 12pt;
    font-family: 'trebuchet ms', helvetica, sans-serif;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: normal;
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
}

ul {
    margin-left: 0px;
    padding: 0 0 0 30px;
    list-style: none;
    padding-left: 20px;
    text-indent: -10px;
} 

ul li:before { content: "\00BB \0020"; }

a:link    { color: #000000; background-color: none; text-decoration: none; }
a:visited { color: #000000; background-color: none; text-decoration: none; }
a:active  { color: #222222; background-color: none; text-decoration: none; }
a:hover   { color: #555555; background-color: none; text-decoration: none; }

#container {
  border: 1px dashed #000000;
  padding: 10px 25px 10px 25px;
  min-width: 755px;
  margin: 60px 90px 90px 90px;
  text-align: left;
}

#blog_labor {
  padding-left: 40px;
  border-style: none;
  width: 250px;
  text-align: left;
  overflow: auto;
  font-size: 11pt;
}

#video {
  padding-bottom: 20px;
  padding-left: 10px;
  border-bottom: 1px solid #000;
  text-align: left;
  overflow: auto;
}

#alert {
  font-size: 12pt;
  font-weight: bold;
}

#subtitle {
  border-style: none;
  text-align: left;
  font-size: 8pt;
}

#footer {
  border-style: none;
  text-align: center;
  font-size: 10pt;
}
-
