# HPLIP udev rules file for HP printer and all-in-one products.
#
# Notes for downstream implementers.
#
#   1. The 55-hpmud.rules name was chosen in order to run after the default udev rule /etc/udev/rules.d/50-udev.rules. See
#      "Writing udev rules" Ver 0.74, Daniel Drake. Although it seems 50-udev.rules is no longer used I continue to reuse "55-"
#      name for backward compatibility with older distros. 2/11/2009, D Suffield 
#
#   2. It seems SFSFS has been replaced or depreciated by ATTR/ATTRS, but I continue to use SFSFS in order to be compatible with 
#      older distros. SFSFS was defined in "Writing udev rules" Ver 0.72, Daniel Drake. 2/11/2009, D Suffield
#
#   3. This rules file is an attempt at being compatable with all distros. Feel free to make your own changes and if you feel your
#      changes are not distro specific please send your patch to us. 2/11/2009, D Suffield
#

ACTION!="add", GOTO="hpmud_rules_end"
SUBSYSTEM=="ppdev", OWNER="lp", GROUP="lp", MODE="0660"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", GOTO="pid_test"
SUBSYSTEM!="usb_device", GOTO="hpmud_rules_end"

LABEL="pid_test"

# Check for AiO products (0x03f0xx11).
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="??11", OWNER="lp", GROUP="lp", MODE="660"

# Check for Photosmart products without wildcard since cameras and scanners also used (0x03f0xx02). 
# The xx02 pid has been retired so this explicit list should not change.
# photosmart_d2300_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c302", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_100
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3802", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_1115
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3402", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_1215
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3202", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_1218
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3302", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_130
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3902", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_1315
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3602", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_140_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1002", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_230
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3502", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_240_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1102", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_320_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1202", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_330_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1602", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_370_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1302", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_380_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1702", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_420_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1502", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_470_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1802", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_7150
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3a02", OWNER="lp", GROUP="lp", MODE="660"
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3b02", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_7200_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="b002", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_7345
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="2002", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_7350 
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3c02", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_7400_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="b802", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_7550
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3e02", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_7600_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="b202", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_7700_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="b402", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_7800_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c002", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_7900_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="b602", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_8000_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c102", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_8100_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="ba02", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_8200_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c202", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_8400_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="bb02", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_8700_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="bc02", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_a310_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1d02", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_a320_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1e02", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_a430_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1902", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_a440_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1f02", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_a510_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1a02", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_a520_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="2602", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_a530_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="2b02", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_a610_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1b02", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_a620_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="2702", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_a630_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="2c02", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_a710_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1c02", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_a820_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="2902", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_d5060_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c802", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_d5100_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c402", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_d6100_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c502", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_d7100_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c602", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_d7300_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c702", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_pro_b8300_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="be02", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_b8800_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="d002", OWNER="lp", GROUP="lp", MODE="660"
# photosmart_pro_b9100_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="bd02", OWNER="lp", GROUP="lp", MODE="660"
# Photosmart_B8500_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="d102", OWNER="lp", GROUP="lp", MODE="660"

# Check for Business Inkjet products (0x03f0xx12).
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="??12", OWNER="lp", GROUP="lp", MODE="660"
# Check for Deskjet products (0x03f0xx04).
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="??04", OWNER="lp", GROUP="lp", MODE="660"
# Check for LaserJet products (0x03f0xx17).
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="??17", OWNER="lp", GROUP="lp", MODE="660"

# Removed the following rule because FHS states that /etc should be reserved for static files only. This
# functionality should be done in a deb/rpm post install script.  2/11/2009, D Suffield
#
# If sane-bankends is installed add hpaio backend support to dll.conf if needed.
# ENV{sane_hpaio}=="yes", RUN+="/bin/sh -c 'grep -q ^#hpaio /etc/sane.d/dll.conf;if [ $$? -eq 0 ];then sed -i -e s/^#hpaio/hpaio/ /etc/sane.d/dll.conf;else grep -q ^hpaio /etc/sane.d/dll.conf;if [ $$? -ne 0 ];then echo hpaio >>/etc/sane.d/dll.conf;fi;fi'"

LABEL="hpmud_rules_end"
