// Initialise SVF file
TRST OFF;
ENDIR IDLE;
ENDDR IDLE;
STATE RESET IDLE;
// set up the chain to bypass the unused JTAG devices
// 0 Devices the before PicoBlaze FPGA
// 1 Devices after PicoBlaze FPGA
// *** Device number 1 is the FPGA with PicoBlaze II *** 
// IR of device 2 is 8
TDR 0 TDI() SMASK ();
TIR 0 TDI() SMASK ();
HDR 1 TDI(0) SMASK (1);
HIR 8 TDI(FF) SMASK (FF);
// Put FPGA into USER1 mode  
SIR 6 TDI (02) SMASK (3f);
